body {
  font-family: "Ubuntu", sans-serif;
}
#header {
  padding: 1rem;
  background-color: #c7c7c7;
}
a {
  /* color: #000000; */
  text-decoration: underline;
}
hr {
  border-top: 0.1px solid rgba(0, 0, 0, 0.4);
}
